@import '../../root';

.skipLevel{
  position: absolute;
  bottom: 8px;
  right: 10px;

  display: block;

  background: url(skipLevel.png) 60% center no-repeat white;
  background-size: 50%;

  border-radius: 12px;
}

@media (min-width: 600px) {
  .skipLevel {
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
  }
}
