@import '../../root';
.endGame{
  width: 90%;
}

.endGame__prize{
  text-align: center;
  font-size: 2.5rem;

  margin-top: 30px;
  color: #c88064;
  margin-bottom: 10px;
}
.endGame__prizeMoney{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3.3rem;
  color: #c88064;

  padding-top: 10px;
}
.endGame__money{

  width: 33px;
  height: 47px;

  background: url(../../assets/images/money.png) center center no-repeat;
  background-size: 100%;

  margin: 0 8px;
}
.endGame__actions{
  width: 100%;
  height: 50px;

  margin-bottom: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;

}
.endGame__actions .menu{
  width: 40px;
  height: 40px;
  margin: 0;

}
.endGame__nextLevel{
  background: url(next.png) center center no-repeat white;
  background-size: 75%;

  cursor: pointer;
}
.endGame__text{
  font-size: 1.6rem;
  padding: 10px;
}

.endGame .popUp__header{
  color: #c88064;
}

@media (min-width: 600px) {
  .endGame{
    width: 550px;
  }
  .endGame .popUp__header{
    font-size: 2.8rem;
    height: 70px;
  }
  .endGame__prize{
    font-size: 2.6rem;
    margin-top: 50px;
  }
  .endGame__prizeMoney{
    font-size: 3.5rem;
  }
  .endGame__actions{
    height: 60px;
  }
  .endGame__actions .menu{
    width: 50px;
    height: 50px;
  }
  .endGame__text{
    font-size: 2rem;
    padding: 10px;
  }
}