$bg: #eceaea;

.gamePage{
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-content: center;

  margin: 0;
  user-select: none;
  outline: none;

  //background-color: $bg;

  background: url(bg.png) center center no-repeat;
  background-size: cover;
}

$tube_color: #292828;

.gamePage__tubes{
  position: relative;

  height: 80%;
  margin: auto auto 50px auto;
  margin: auto auto 10vh auto;
}
.gamePage__tube{
  position: absolute;
  border-radius: 0 0 20px 20px;
  transition: all ease 0.2s;
  border: 2px $tube_color solid;
  border-top: none;
}
.gamePage__tube_top{
  position: absolute;
  transition: all ease 0.2s;
  border: 2px $tube_color solid;
}
.gamePage__tube-putty{
  content: "";

  position: absolute;
  top: -3px;
  left: 0;

  height: 6px;

  background-color: $bg;

  z-index: 2;
}


.gamePage__ball{
  position: absolute;
  transition: all ease 0.2s;
  border: 2px $tube_color solid;
  pointer-events: none;

  border-radius: 50%;

  z-index: 3;
}
//Обучение

.hintBlackout{
  z-index: 3;
}
.hintBlackout_noPointers{
  pointer-events: none;
}

.hand{
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);

  width: 60px;
  height: 80px;

  background: url(hand.png) center center no-repeat;
  background-size: 100%;

  z-index: 6;

}

.hand_tube{
  bottom: 100px;
}

@media (min-width: 500px) {
  .gamePage__tube{
    border-radius: 0 0 30px 30px;
  }
}

@media (min-width: 600px) {
  .hand {
    width: 90px;
    height: 120px;
  }
  .hand_tube{
    bottom: 150px;
  }
}

@media (min-height: 800px) {
  .gamePage__tubes{
    margin: auto auto 80px auto;
    margin: auto auto 15vh auto;
  }
  
}

@media (max-width: 700px) {
  .gamePage{
    background: url(bg_mobile.png) center center no-repeat;
    background-size: cover;
  }
}